.file-uploader {
    @apply my-8;

    label {
        background-color: #ff0055;
        border-radius: 1rem;
        cursor: pointer;
    }

    div {
        border-radius: .8rem;
        border-width: 3px;
        border-color: #b50040;
    }

    p {
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
    }
}
